body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 64px 1fr 64px;
    grid-template-areas:
        "header header"
        "sidebar content"
        "sidebar footer";
    height: 100vh;
    margin: 0;
    background-color: #ddd;

}

body.hide-sidebar {
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "content"
        "footer";
    height: 100vh;
    margin: 0;
    background-color: #ddd;
}


header.header {
    grid-area: header;
    display: flex;
    background-color: #1976d2;
    align-items: center;
    z-index: 10;
    box-shadow:
        0 2px 4px -1px rgba(0, 0, 0, .2),
        0 4px 4px 0px rgba(0, 0, 0, .14),
        0 1px 10px 0px rgba(0, 0, 0, .12);

}

header.header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(219, 226, 231);
    font-size: 2rem;
    flex-basis: 250px;
    height: 100%;
}

header.header .menu-toggle {
    color: white;
    cursor: pointer;
}

header.header .spacer {
    flex-grow: 1;

}

header.header .dropdown {
    position: relative;
}

header.header .dropdown-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.1rem;
    color: white;
    cursor: pointer;

}

header.header .dropdown-content {
    display: none;
    position: absolute;
    min-width: 100%;
    background-color: #e9e9e9;
    padding: 3px 0px 10px;
    z-index: 100;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .2);

}

header.header .dropdown:hover .dropdown-content {
    transition-delay: 10s;
    display: block;


}

header.header .dropdown-content ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

header.header .dropdown-content a {
    align-items: center;
    display: flex;
    text-decoration: none;
    color: rgb(71, 119, 167);
    padding: 5px;
    font-size: 1.1rem;
}

header.header .dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

header.header .dropdown:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

header.header .avatar{
    height: 2rem;/*era pra ser height 80% mas não deu certo*/
    border-radius: 50%;
    margin-left: 10px;

}


aside.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -5px 0px 25px 1px rgba(0, 0, 0, 0.4);
    background-color: white;

}

aside.sidebar .menu {
    width: 100%;
    flex-grow: 1;

}

aside.sidebar .menu ul.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside.sidebar .menu li.nav-item {
    padding: 10px 0px 10px 25px;
    margin: 0;
}

aside.sidebar .menu li.nav-item a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #555;

}

body.hide-sidebar aside.sidebar {
    display: none;
}

aside.sidebar .sidebar-widgets {
    position: sticky;
    bottom: 20px;

}

aside.sidebar .sidebar-widget {
    display: flex;
    align-items: center;

}

aside.sidebar .icon {
    font-size: 3.2rem;
    margin: 2px 10px 2px 0px;

}

aside.sidebar .sidebar-widget .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.division {
    widows: 80%;
    /* width: 80%; */
    border: solid 1px #eee;
}

aside.sidebar .info .main {
    font-size: 2rem;
}


aside.sidebar .menu li.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.1);

}

main.content {
    grid-area: content;
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

main.content .content-title {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}
main.content .content-title .icon{
    font-size: 3rem;
}

main.content .content-title h1{
    color: #444;
    font-size: 1.8rem;
    font-weight: 300;
    margin: 0;
}

main.content .content-title h2{
    color: #888;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0;
}

footer.footer {
    grid-area: footer;
    display: flex;
    background-color: #222;
    color: #fff;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    font-size: 1.2rem;
}

.record{
    font-size: 1.8rem;
}